<div class="container">
    <div class="row">
        <div class="offset-md-1 offset-lg-1 col-sm-10 col-md-10 col-lg-10">
            <div class="card">
                <h5 class="card-header justify-content-between">Lista de Veículos <button class="btn btn-primary btn-rounded"
                        data-bs-toggle="modal" data-bs-target="#cadastroEdicaoModal"
                        (click)="tipoFormulario = 'CADASTRO'"> Cadastrar
                        Veículo </button>
                </h5>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">Ano</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Chassi</th>
                                <th scope="col">Renavam</th>
                                <th scope="col">Marca</th>
                                <th scope="col">
                                    <!-- Ações-->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let veiculo of veiculos">
                                <th scope="row">{{veiculo.id}}</th>
                                <td>{{veiculo.modelo}}</td>
                                <td>{{veiculo.ano}}</td>
                                <td>{{veiculo.placa}}</td>
                                <td>{{veiculo.chassi}}</td>
                                <td>{{veiculo.renavam}}</td>
                                <td>{{veiculo.marca}}</td>
                                <td>
                                    <i class="far fa-edit" data-bs-toggle="modal"
                                        (click)="veiculoSelecionadoAcao = veiculo; tipoFormulario = 'EDICAO'"
                                        title="Editar {{veiculo.modelo}} {{veiculo.ano}}"
                                        data-bs-target="#cadastroEdicaoModal"></i>
                                    <i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                        title="Excluir {{veiculo.modelo}} {{veiculo.ano}}"
                                        (click)="veiculoSelecionadoAcao = veiculo; "></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                    Total de registros: <b>{{veiculos.length}}</b>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mostrarMensagem" class="row mt-2">
        <div class="offset-sm-4 offset-lg-4 col-sm-5 col-md-5 col-lg-5 text-center">
            <app-alert [mensagem]="mensagemAlert" tipoAlert="success"></app-alert>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cadastroEdicaoModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-cadastro-edicao [tipoFormulario]="tipoFormulario" [veiculoParaEdicao]="veiculoSelecionadoAcao"
                    [formSubmitted]="formSubmitted" (fecharModal)="fecharModal($event)">
                </app-cadastro-edicao>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="closeModal" *ngIf="tipoFormulario === 'CADASTRO'" class="btn btn-primary"
                    (click)="formSubmitted = true">Cadastrar
                    Veiculo</button>
                <button type="button" id="closeModal" *ngIf="tipoFormulario === 'EDICAO'" class="btn btn-primary"
                    (click)="formSubmitted = true">Salvar
                    Alterações</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" #closebuttonDelete class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente deletar <ng-container *ngIf="veiculoSelecionadoAcao">{{veiculoSelecionadoAcao.modelo}}
                    {{veiculoSelecionadoAcao.ano}}
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger"
                    (click)="formSubmitted = true; tipoFormulario = 'EXCLUSAO'">Deletar</button>
            </div>
        </div>
    </div>
</div>